test-results/
tmp/
routes/
.git/
.idea/
.directory
cache
!app/cache
app/cache/*
!app/cache/test/
log/
GIG
run.bat
run.sh
build/
none
serve_swagger.sh
conf/app.example.conf

GIG.tar.gz
conf/app.secret.conf
